[Unit]
Description=Import WiFi settings from USB
After=frogswork-usb-provision.path

[Service]
Type=oneshot
ExecStart=/opt/frogswork/scripts/factory/import-wifi.sh auto
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
