<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">FrogsWork File Storage</name>
  <service>
    <type>_frogswork._tcp</type>
    <port>80</port>
    <txt-record>product=File Storage</txt-record>
    <txt-record>vendor=KorraOne</txt-record>
  </service>
</service-group>
